.container-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    gap: 1em;
}
.card-profile-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    width: 20%;
    border-radius: 6px;
    height: 500px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    
}
.card-profile-1 img {
    width: 150px; /* Defina o tamanho desejado para a imagem */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
.card-profile-2{
    width:60%;
    border-radius: 6px;
    height: 500px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    
}
.profile-form-container {
    max-height: 450px;
    overflow-y: auto;
    padding: 2em;
  }
  