label {
  display: block;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

select {
  display: block;
  height: 3.125rem;
  width: 100%;
  background-color: rgba(205, 206, 206, 0.67);
  border-radius: 10px;
  padding: 0 1rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  outline: none;
  border: none;

  
}

option {
  color: #5b5b5b;
  border: none;
  border-radius:5px ;
}
