*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgb(19,184,219);
  background: linear-gradient(326deg, rgba(19,184,219,0.4738270308123249) 0%, rgba(41,247,193,0.46262254901960786) 100%);
}

