/* Zera O CSS */
/* Reset CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* Define os padrões iniciais para o body */
/* Sets the initial defaults for the body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}


/* Define o padrao dos cards */
/* Sets the default for cards */
.card-login {
  width: 50%;
  border-radius: 6px;
}
.card-register {
  width: 80%;
  border-radius: 6px;
}
.style-cards{
  height: auto;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 5% 8%;
}
/* Esse código CSS define estilos para um formulário*/
/* This CSS code defines styles for a form*/
form{
  font-family: 'Poppins', sans-serif;
}
.form-label {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.625rem;
  text-align: center;
  margin-bottom: 2.5rem;
}