.header-container{
  width: 100vw;
  height: auto;
  background-image: linear-gradient(120deg, #165059, #157F8C);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.navbar-logo{
  text-decoration: none;
  color: #fff;
}

.nav-bar a {
  color: #fff;
  font-size: 20px;
  font-style: none;
  text-decoration: none;
}
.nav-bar a:hover{
  color: #9bacad;
}

.nav-bar a + a {
  margin-left: .7em;
}

