.custom-button {
    margin-top: 2.5rem;
    width: 100%;
    background-color: rgba(205, 206, 206, 0.67);
    color: #080710;
    padding: 0.9375rem 0;
    font-size: 1.125rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.7s, color 0.5s;
  }
  
.custom-button:hover {
    background-color: royalblue;
    color: #fff;
  }